<!Doctype html>
<html>
<head>
	<script src="/soctet.io/socket.io.js"></script>
	<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<link rel="stylesheet" href="/stylesheets/chat.css"/>
	<title>chat</title>
</head>
<body>

<div id="chat-container" style="border:20px;">
</div>
<textarea id="chat-input" style="border:20px;">
</textarea>
<script src="/javascript/chat.js"></script>
</body>
</html>
